@import "../../const";

.services-wrapper{
  .title-page-block__title{
    font-size: $h1_reviews_title_size;
    padding: 110px 0px 110px ;
  }

  ul.services-titles-block{
    list-style-type:none;
    display:flex;
    justify-content: center;
    border-top: $border;
    border-bottom: $border;
    padding: 70px 0px;
  }

  li.services-title-item{
    display: list-item;
    padding: 0px 40px;
  }

  li.services-title-item:last-child{
    border-right: none;
  }
  a.services-title-item__link {
    color: $gallery_title_color;
    text-transform: uppercase;
    font-size:$gallery_title_size;
  }

  .services-content{
    margin-top: 160px;
  }


}

.services-content{
  text-align: center;
}



@media (max-width: 1800px) {
  .container-custom {
    max-width: 1430px;
  }
}

 .service-item p{
  font-size: 24px;

}

 .additional-block, .travel-block{
   padding: 90px 0px 100px;
   margin-top: 160px;
   border-top: $border;
   border-bottom: $border;

   h3{
     font-size: 24px;
     text-transform: uppercase;
     padding-bottom: 95px;
   }

   p{
     text-align: center;
     text-transform: uppercase;
     font-size: 24px;
   }
 }
 .travel-block{
   border-top: 0px;
   margin-top: 0px;
 }

 .service-block{
   margin-bottom: 100px;
   font-size: 24px;
   text-transform: uppercase;
   h3{
     padding-top: 85px;
     padding-bottom: 105px;
   }

 }