@import "../../const";


.reviews-title-block{
  margin-bottom: 120px;
  text-align: center;
  .reviews-title-block__title{
    font-size:$h1_reviews_title_size;
  }

}

.reviews-text-block {
  padding: 25px 0px;
  text-align: center;
  border-top:$border;
  border-bottom:$border;
  .reviews-text_header{
    font-size: 35px;
  }
  .reviews-text_plain{
    font-size: 22px;
  }


  .reviews-info-author{
    text-align: center;
    font-size: 35px;
    margin: 40px 0px 0px 0px;
  }

}

.review-button-block{
  display: flex;
  justify-content: center;
  margin: 43px 0px 50px 0px;
}

.logo-section {
  .logo-section__header {
    display: flex;
    justify-content: center;
    h3 {

      text-align: center;
      font-size: $logos_titile_size;
      padding: 38px 0px;
      border-top: $border;
      border-bottom: $border;
    }
  }
  .logo-section__logos{
    margin:36px 0px 105px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    .logo-wrapper{
      border-right: $border;
      line-height: 10px;

      .review-button-block__img{
        padding-right: 15px;
      }
    }
  }


}
