$main-container-size: 1880px;
$menu_text_color: #878484;
$main_text_color: #4d4f50;
$footer_text_color: #ffffff;
$footer_bg_color:#282828;
$bgcolor:#ffffff;
$base_text_size:14px;
$base_font: FuturaLT-Light, sans-serif;
$social_icon_color:#282828;
$social_icon_bg : #ffffff;
$h1_form_title_color: #282828;
$h1color:#000;
$h1font-size:40px;
$gallery_title_color: #282828;
$gallery_title_size: 24px;
$sidebar_widget_title_size: 24px;
$h1_portfolio_title_size: 60px;
$h1_reviews_title_size: 48px;
$logos_titile_size: 30px;
$border: 1px solid #d4d8d8;
$blog_base_font_size:22px;


