.flex-grid {
  display:flex;
}

.flex-grid .col{
  flex:1;
}

.flex-grid-space{
  display: flex;
  justify-content: space-between;
}

.flex-grid-space .col{
  width: 32%;
}

@media (max-width: 1400px){
  .flex-grid,
  .flex-grid-space{
    display: block;
    .col{
      width: 100%;
      margin:0 0 10px 0;
    }

  }

}