  .background-block-lite{
    background: url("../img/header-main-bg-lite.png") no-repeat;
    background-size: cover;
    min-height: 270px;
    background-repeat:no-repeat;
    background-position:center;
  }
