
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }



.nav-top-block {
  background-color: $blue_color;
  color: $white_color;

  navbar{
    padding: 0px;
  }
}

nav-block__nav-item {
  display: flex;
}

  .flag-block{
    display: flex;
    align-items: center;
  }

  .navbar-expand-md {

  .navbar-collaps{
    justify-content: flex-end;
  }

  .nav-block {



    a.nav-block__nav-link {
      text-transform: uppercase;
      color: $white_color;
      font-size: 14px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

}

  .nav-main-menu-block{
    font-size: 24px;
    color:$blue_color;
    text-transform: uppercase;
    font-family: SegoeUILight;
    font-weight: bold;

    .btn{
      font-size: 22px;
    }

  }






