@import "const";
.main-article{
  padding: 140px 0px 0px;
}

h1{
  color: #000;
  font-size: 41px;
  text-align: center;
  font-family: $base_font;
}

.main-text-first{
  text-align: center;
  padding: 86px 36px 96px;
  font-size:24px;
}

.img-block__img {
  padding: 3.571rem;
  border: 1px solid #000;
}

.img-block{
  padding: 0px 40px;
}

.second-image-article{
  padding: 40px;
  border: 1px solid #000;
}

.contact-block{
  margin: 80px 0px 75px;
  font-size: 26px;
}

.name-adress-block{
  margin: 0px 0px 60px;
}



