body{
  color:$white_color;
  background-color: $white_color;
  font-family: "Segoe UI", sans-serif;
}


@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}


.make-diff-block{
  padding:33px 37px 40px 75px;
  background-color: $blue_color;
  h1{
    font-size: 66px;
    color:$white_color;
   }
}




