body{
  color:$white_color;
  background-color: $white_color;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
}


@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}

.no-gutters {

  .make-diff-block {
    padding: 35px 30px 70px 30px;
    background-color: $blue_color;
    h1 {
      font-size: 63px;
      color: $white_color;
      margin-bottom: 3.75rem;
    }
    p {
      margin-bottom: 2.5rem;
    }
    a.learn-more-btn {
      background-color: #fec200;
      color: #fff;
      padding: 17px 143px 17px 10px;
      font-size: 24px;
    }
    &::after {
      content: '\25bc';
      padding-left: 0rem;
    }

  }
}

.excerption-section-block, .webelieve1-section-block, .webelieve2-section-block{
  .excerption-section-block__text{
    color: $blue_color;
    padding: 150px 0px;
    font-size: 48px;
    font-family: SegoeUILight;
    font-style: italic;
  }
}

.about-section-block{
  background-color: $green_color;
  border-bottom: 1px solid $white_color;
  .about-section-block__text{
    padding: 40px 40px 25px 25px;
    color: #ffffff;
    font-size: 16px;
    .title{
      font-size: 14px;
      text-transform: uppercase;
      color: $white_color;
      margin-bottom: 1.25em;
    }
    full-text{
      margin-bottom:1.563rem ;
    }
    .read-more{
      text-align: right;
      text-decoration: underline;
      display: block;
      color: #ffffff;
      font-size: 14px;
    }
  }
}

.ourteam-section-block{
  background-color: $green_color;
  .ourteam-section-block__img{
    padding: 20px 25px 35px 33PX;

  .title{
    font-size: 14px;
    margin-bottom:1.563rem ;
    text-transform: uppercase;
  }

  .credentials{
    margin-bottom: 0.625rem;
    font-style: italic;
  }
 }
 .ourteam-section-block__textarea{
   padding: 50px 40px 70px 18px;

   a.read-more-link{
      display:block ;
      text-align: right;
      font-size: 14px;
      color: #ffffff;
      text-decoration: underline;
      margin-bottom: 1rem;
   }
 }



}

.no-gutters {
  .brazil-on-wheels {
    padding: 35px 30px 70px 30px;
    background-color: $yellow_color;
    h1 {
      font-size: 63px;
      color: $white_color;
      margin-bottom: 3.75rem;
    }
    p.brazil-on-wheels__text {
      margin-bottom: 7.8125rem;
    }
    a.learn-more-btn {
      background-color: $green_color;
      color: #fff;
      padding: 17px 143px 17px 10px;
      font-size: 24px;
    }
    &::after {
      content: '\25bc';
      padding-left: 0rem;
    }

  }
  .lar-dos-velhinhos{
    padding: 35px 30px 70px 30px;
    background-color: $green_color;
    h1 {
      font-size: 63px;
      color: $white_color;
      margin-bottom: 3.75rem;
    }
    p.brazil-on-wheels__text {
      margin-bottom: 7.8125rem;
    }
    a.learn-more-btn {
      background-color: $yellow_color;
      color: #fff;
      padding: 17px 143px 17px 10px;
      font-size: 24px;
    }
    &::after {
      content: '\25bc';
      padding-left: 0rem;
    }

  }



}

.no-gutters {
  .stories-border {
    border: 5px solid #ffffff;
    background-color: $blue_color;
    margin-bottom: 1rem;
    h1 {
      font-size: 63px;
      color: $white_color;
      margin-bottom: 1.875rem;
    }
    p.brazil-on-wheels__text {
      margin-bottom: 1.875rem;
    }
    a.learn-more-btn {
      background-color: $green_color;
      color: #fff;
      padding: 17px 143px 17px 10px;
      font-size: 24px;
      margin-bottom: 1rem;
    }
    &::after {
      content: '\25bc';
      padding-left: 0rem;
    }

    .img-box{
      display: flex;
      justify-content: center;
      align-items: flex-start;

    }

  }
  .lar-dos-velhinhos{
    padding: 35px 30px 70px 30px;
    background-color: $green_color;
    h1 {
      font-size: 63px;
      color: $white_color;
      margin-bottom: 3.75rem;
    }
    p.brazil-on-wheels__text {
      margin-bottom: 7.8125rem;
    }
    a.learn-more-btn {
      background-color: $yellow_color;
      color: #fff;
      padding: 17px 143px 17px 10px;
      font-size: 24px;
    }
    &::after {
      content: '\25bc';
      padding-left: 0rem;
    }

  }



}

.stories-section{
  background-color: #2f358a;
}

.ways-to-help-section-block{
  background-image: url("../img/bg.jpg");
  .ways-to-help-section-block__title{
    padding: 100px 0px 80px 0px;
  }
  .text-img-block{
    display: flex;
    align-items: flex-end;
    padding: 0px;
   .text-img-block__text{
     padding: 25px 0px 30px 10px;
     background-color: rgba(0, 0 ,0, 0.5);
     width: 100%;
     margin: 0px;
     margin-top: 14.5rem;
   }
  }
}

.logo-img-block{
  height: 315px;
  background-color: #ffffff;
  display: flex;
  .logo-img-block img{
    align-self: center;
  }
}