@import 'const';
nav{
  height: 80px;
  background-color: #ffffff;
  ul{
    list-style-type: none;
    font-family: Arial, sans-serif;
    color: $menu_text_color;
  }
  ul.nav-block {
    padding-left: 15px;
  }

  li{
    float: left;
    display: inline-block;
    font-size: $base_text_size;
    text-transform: uppercase;
    padding:  28px;
  }
  .logo-block{
    margin-left: 37px;
    margin-top:120px;
  }
}

